    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">CIT 337</h1>
                        <p class="intro-text">Welcome to the CIT 337 - Software Engineer and Practice page!<br> This page is used for documentation of the project and homework that was assigned during this course period.</p>
                        <a href="#description" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>