 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

	<!--OWL Carousel Plugin Files-->
    <!--  jQuery 1.7+  -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="assets/js/jquery-1.9.1.min.js"></script>
     
    <!-- OWL js plugin -->
    <script src="owl-carousel/owl.carousel.js"></script>
	
	<!--Resume Carousel JQuery Script-->
    <script>
        $(document).ready(function() {

          $("#resume-carousel").owlCarousel({
                navigation : true,
                slideSpeed : 1500,
                paginationSpeed : 2000,
                rewindSpeed: 900,
                singleItem : true,
                stopOnHover : true,
                autoPlay: true,
                loop: true
          });

        });
    </script>
	
    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>
	
	
	